
export(
  calibrate,
  invest,
  plotFit
)    

## Methods
S3method(calibrate, default)    
S3method(calibrate, formula)
S3method(calibrate, lm)  
S3method(invest, lm)    
S3method(invest, nls) 
S3method(invest, glm)  # new (experimental) 
S3method(invest, lme)  # new (experimental)  
S3method(invest, rlm)  # new (experimental)  
S3method(invest, lqs)  # new (experimental)  
S3method(plotFit, lm)    
S3method(plotFit, nls) 
S3method(plotFit, glm)  # new (experimental) 
S3method(plotFit, rlm)  # new (experimental) 
S3method(plotFit, lqs)  # new (experimental) 
S3method(print, invest)
S3method(plot, bootCal)

## Recommended packages
importFrom(MASS, lqs, rlm)
importFrom(nlme, fixef, asOneFormula, getVarCov)



